/**
 * Login
 */
 
.divLogin{
	margin-top: 8em;
	font-size: 150%;
}

.tabellaLogin {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table.tabellaLogin input[type=email], table.tabellaLogin input[type=password] {
	font-size: 90%;
	width: 16em;
}

table.tabellaLogin input[type=button] {
	font-size: 90%;
	width: 5em;
}

table.tabellaLogin td[colspan="2"] {
	text-align: center;
}

.messaggioErrore {
	color: red;
	text-decoration: underline;
	text-align: center;
}

.messaggioNotifica {
	color: gray;
	font-weight: bold;
	text-align: center;
}