/**
 * Login
 */
 
.divLogin{
	margin-top: 105px;
	font-size: 150%;
}

.tabellaLogin {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

table.tabellaLogin input[type=email], table.tabellaLogin input[type=password] {
	font-size: 90%;
	width: 350px;
}

table.tabellaLogin input[type=button] {
	font-size: 90%;
	width: 100px;
}

table.tabellaLogin td[colspan="2"] {
	text-align: center;
}
